/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #333;
}


header {
  padding: 0.5vw;
  position: sticky;
  top: 0px;
  background-color: #111614;
  display: flex;
  justify-content: center;
}


.hero-content {
  display: flexbox;
  justify-content: center;
  padding-top: 35vh;
}


.logo img {
  min-height: 40px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 4vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  filter: invert(96%) sepia(3%) saturate(985%) hue-rotate(11deg) brightness(105%) contrast(89%);
}
.nav {
  width: 1920px;
}
.nav-links {
  list-style: none;
  text-align: flex;
  
}

.nav-links li a {
  color: #f1f0e2;
  text-decoration: none;
}

.nav-links :hover {
  color: #cf2f2d;
}

#hero {
  background-color: #011122;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #fff;
  border: 0px;
  height: 93vh;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#about {
  text-align: center;
  margin-top: 40px;
}

#about h2 {
  margin-bottom: 20px;
}

#services {
  text-align: center;
  margin-top: 40px;
}

#services h2 {
  margin-bottom: 20px;
}

.service-list {
  list-style: none;
  margin-top: 20px;
}